body {
  margin: 0;
  text-align: center;
}

h1 {
  font-family: Pacifico, cursive;
  font-size: 380%;
  margin: 50px auto 0 auto;
  line-height: 2.5;
}

h2 {
  font-family: Pacifico, cursive;
  font-weight: normal;
  color: #003b59;
  font-size: 2rem;
}

h3 {
  font-family: Pacifico, cursive;
  color: #003b59;
  margin: 35px auto;
}

hr {
  border-style: dotted none none none;
  border-width: 10px;
  width: 10%;
  color: silver;
}
a {
  color: tan;
  text-decoration: none;
  font-family: Silkscreen, cursive;
margin-top: 60px;
margin-bottom: 60px;

}

p {
  font-family: Silkscreen, cursive;
  line-height: 2;
}

.top {
  position: relative;
  background-color: #003b59;
  padding-top: 100px;
}

.middle-container {
  margin-top: 50px;
}

.bottom {}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.meteorite {
  position: absolute;
  height: 75px;
  width: 75px;
  top: 50px;
  left: 400px;
}



.h2 {
  font-size: 1.5rem;
  font-family: Silkscreen, cursive;
  color: black;
}

.h2:hover {
  background-position: center;
  background-color: white;
}

.spaceship {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.code {
  height: 9.3rem;
  width: 9.3rem;
  border-radius: 50%;
  float: left;
  margin-right: 2rem;
}

.baking {
  height: 9.3rem;
  width: 9.3rem;
  border-radius: 50%;
  float: right;
  margin-left: 2rem;
}

.skill-row {
  margin: 50px auto 50px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.btn {
  border-style: solid;
  border-color: black;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  background-color: #003b59;
  display: inline-block;

}

.btn:hover {
  background-color: #004c73;
  color:white;
}

.contact-me {
  margin-top: 100px;
}

.bottom-container {
  background-color: #003b59;
  display: block;

  margin-top: 0;
}

.lastp {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  color: white;
}
.footer-link {
display: inline-block;
margin: 50px 10px 20px 10px;
text-align: center;

}
